@use "/node_modules/bootstrap/scss/bootstrap.scss";
@use "./partials/variables.scss" as *;


img {
    max-width: 100%;
    max-height: 100%;
}

.bar {
    border-top: 3px solid $secondary;
    width: 20%;
}

.py_10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

a {
    text-decoration: none;
}



#appHeader {
    background-image: url("/public/img/home-page-slider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .logo {
        width: 250px;
    }

    .jumbotron {
        height: 700px
    }
}

.menu{
    li:first-of-type {
        color: $secondary;
    }

    li:last-of-type {
        padding: 0.5rem 1rem;
        background-color: $secondary;
    }
}

.pageBanner {

    .left_side {
        padding: 7rem
    }


    .right_side {
        background-image: url(/public/img/home-content-bg-1.jpg);
    }
}


.pageValues {
    height: 800px;
    background-image: url(/public/img/home-content-bg-2.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;

    .pageValuesBg {
        height: 20%;
        background-image: url(/public/img/home-content-bg-2.jpg);
        background-image: cover;
    }
}

.viewAll {
    background-color: $main;
}

.callToAction {
    background-image: url("../../../public/img/home-footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bannerLogo {
    .image {
        width: 250px;
        margin: auto;
    }
}

.bottomFooter {
    background-color: $light;
    color: $jumbo;
    position: relative;

    .icon {
        width: 25px;
        aspect-ratio: 1;
    }

}

.angleUp {
    position: absolute;
    bottom: 0;
    right: 2%;
    a {
        color: $lighter;
        background-color: $dark; 
    }
}